nav {
    width: 100%;
    height: 19.5vh;
    background-color: black;
    border-bottom: solid 1px grey;
    position: fixed;
    padding-top: 20px;
    z-index: 9999;
    transition: 0.1s;
}

.top_wrap {
    transition: 0.1s;
}

.logo_img{
    margin: 0 auto;
    display: block;
    width: 11vw;
}

.menu ul{
    margin: 0 auto;
    padding: 35px 0 0 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menu ul li{
    margin-right: 100px;
}
.menu ul li a{
    display: block;
    margin: 0 1vw;
    height: 3vh;
    width: 6vw;
    font-size: 15pt;
    font-weight: bold;
    color: white;
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu .mn_gnb > li:hover>a{
        color: #ff0000 !important;
    border-bottom: 1.5px solid rgba(255, 165, 71, 0.5);;
}